@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --twitter-blue: #1da1f2;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
}

/* 1rem => 16px
0.25.rem => 4px 
2rem => 32px*/

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}